---
import NN_parameters from '../components/NN_comps/NN_parameters.svelte';
import NN_layers from '../components/NN_comps/NN_layers.svelte';
import NN_specs from '../components/NN_comps/NN_specs.svelte';
import NN_IOgraph from '../components/NN_comps/NN_IOgraph.svelte';

---

<html lang="en" data-theme="business">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-full grid place-items-center" >
		<main class="w-full grid place-items-center *:sm:px-10 *:px-5 py-10">
			<section
			  class="w-full flex gap-20 xl:flex-row flex-col-reverse justify-between items-center"
			>
			  <NN_parameters  client:visible/>
			  <NN_IOgraph  client:visible/>
			</section>
			<section class=" grid place-items-center w-full mt-10">
			  <div class="my-2 flex items-center justify-between gap-10">
				<h1 class="text-3xl">Neural Network</h1>
			  </div>
		  
			  <div class="w-full 2xl:max-w-[1530px] max-w-90vw">
				<NN_specs client:visible/>
				<NN_layers client:visible/>
			  </div>
			</section>
    </main>
	</body>
</html>
